---
layout: default
title: Все стихи
permalink: /nocat-posts/
---

<div class="btn-group pull-right btn-group-lg" role="group" style="margin-top: -5px;">
    <button type="button" class="v-first btn btn-default btn-lg">
        <span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span>
    </button>
    <button type="button" class="v-prev btn btn-default btn-lg">
        <span class=" glyphicon glyphicon-step-backward" aria-hidden="true"></span>
    </button>

    <button type="button" class="btn btn-default btn-lg disabled">
       <span>
            <span class="v-num">1</span>
            <span>/</span>
            <span class="v-count">1</span>
        </span>
    </button>

    <button type="button" class="v-next btn btn-default btn-lg">
        <span class=" glyphicon glyphicon-step-forward" aria-hidden="true"></span>
    </button>
    <button type="button" class="v-last btn btn-default btn-lg">
        <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span>
    </button>

</div>

{% for post in site.posts %}
    {% if post.tags.size == 0 %}
        <div class="verse">
            <h2 style="font-size: 6vmax; color: #556B2F; margin-top: 0;">
                <a href="{{ post.url }}">{{ post.title }}</a>
            </h2>

            <div style="font-size: 4vmax; color: #373737" class="clearfix">
                {{ post.content }}
            </div>
        </div>
    {% endif %}
{% endfor %}

<script>
    function goToVerse(n) {
        var totalVerses = parseInt($('.verse').length);

        if (totalVerses > n) {
            $('.verse').css('display', 'none');
            $($('.verse')[n]).css('display', 'block');
            $('.v-num').html(n+1);
        }

        var currentVerse = parseInt($('.v-num').html())-1;

        if (currentVerse <= 0) {
            $('.v-prev').addClass('disabled');
            $('.v-first').addClass('disabled');
        } else {
            $('.v-prev').removeClass('disabled');
            $('.v-first').removeClass('disabled');
        }

        if (currentVerse >= totalVerses - 1) {
            $('.v-next').addClass('disabled');
            $('.v-last').addClass('disabled');
        } else {
            $('.v-next').removeClass('disabled');
            $('.v-last').removeClass('disabled');
        }


    }

    $(document).ready(function () {
        $('.v-count').html($('.verse').length);

        $('.v-first').click(function () {
            goToVerse(0);
        });
        $('.v-prev').click(function () {
            var currentVerse = parseInt($('.v-num').html())-1;
            goToVerse(currentVerse - 1);
        });

        $('.v-last').click(function () {
            goToVerse($('.verse').length - 1);
        });
        $('.v-next').click(function () {
            var currentVerse = parseInt($('.v-num').html())-1;
            goToVerse(currentVerse + 1);
        });

        goToVerse(parseInt($('.v-num').html())-1);
    });
</script>



