---
layout: default
---

{% for tag in site.tags %}
    <h2><a href="{{ site.url }}/tag/{{ tag[0] }}" >{{ tag[0] }}</a></h2>
    <p>
        {% for post in site.posts %}
        {% for posttag in post.tags %}
        {% if tag[0] == posttag %}
            <a href="{{ site.url }}{{ post.url }}"
               style="padding-right: 10px; font-size: large;">
                {{ post.title }}</a>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </p>
{% endfor %}


<h2>
    <a href="{{ site.url }}/nocat-posts">Стихи без меток</a>
</h2>
<p>
{% for post in site.posts %}
    {% if post.tags.size == 0 %}
    <a href="{{ site.url }}{{ post.url }}"
       style="padding-right: 10px; font-size: large;">
        {{ post.title }}</a>
    {% endif %}
{% endfor %}
</p>
