---
layout: default
---

{% for post in paginator.posts %}
<div class="verse">
    <h1 style="font-size: 6vmax; color: #556B2F">
        <!-- Pagination links -->
        <div class="pull-right" style="font-size: 4vmax; color: #5b5b5b;">
            <span class="page_number" style="margin-top: 0.5vmax;">{{ paginator.page }} из {{ paginator.total_pages }}</span>
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.url }}" class="previous btn btn-primary btn-lg"
               title="предыдущий стих">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </a>
            {% else %}
            <a href="{{ paginator.previous_page_path | prepend: site.url }}" class="previous btn btn-primary btn-lg disabled"
               title="предыдущий стих">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </a>
            {% endif %}


            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.url }}" class="next btn btn-primary btn-lg"
               title="следующий стих">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </a>
            {% else %}
            <a href="{{ paginator.next_page_path | prepend: site.url }}" class="next btn btn-primary btn-lg disabled"
               title="следующий стих">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </a>
            {% endif %}
        </div>
        {{ post.title }}
    </h1>

    <div style="font-size: 4vmax; color: #373737">
        {{ post.content }}
    </div>
</div>
{% endfor %}

