---
layout: default
---

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>


    <h1 class="page-heading">Verses</h1>


<ul class="post-list">
    {% for verse in site.verses %}
    <li>
        <a class="post-link" href="{{ verse.url | prepend: site.url }}">{{ verse.title }}</a>
    </li>
    {% endfor %}
</ul>
