---
layout: default
---
<h1 style="margin: 0 0 10px 0">{{ page.tag }}

    <div class="btn-group pull-right btn-group-lg" role="group" style="margin-top: -5px;">
        <button type="button" class="v-play btn btn-default btn-lg">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        </button>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="glyphicon glyphicon-cog " aria-hidden="true"> </span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" style="width: 20px;">
                <li style="margin: 5px 10px;">
                    <div class="btn-group delay-group" data-toggle="buttons">
                        <label class="btn btn-default btn-block ">
                            <input type="radio" name="delay" value="3000" autocomplete="off" checked> 3 сек
                        </label>
                        <label class="btn btn-default btn-block ">
                            <input type="radio" name="delay" value="4000" autocomplete="off"> 4 сек
                        </label>
                        <label class="btn btn-default btn-block active">
                            <input type="radio" name="delay" value="5000" autocomplete="off"> 5 сек
                        </label>
                        <label class="btn btn-default btn-block">
                            <input type="radio" name="delay" value="6000" autocomplete="off"> 6 сек
                        </label>
                        <label class="btn btn-default btn-block">
                            <input type="radio" name="delay" value="7000" autocomplete="off"> 7 сек
                        </label>
                    </div>
                </li>
            </ul>
        </div>

        <button type="button" class="v-first btn btn-default btn-lg">
            <span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span>
        </button>
        <button type="button" class="v-prev btn btn-default btn-lg">
            <span class=" glyphicon glyphicon-step-backward" aria-hidden="true"></span>
        </button>

        <button type="button" class="btn btn-default btn-lg disabled">
           <span>
                <span class="v-num">1</span>
                <span>/{{ page.posts.size }}</span>
            </span>
        </button>

        <button type="button" class="v-next btn btn-default btn-lg">
            <span class=" glyphicon glyphicon-step-forward" aria-hidden="true"></span>
        </button>
        <button type="button" class="v-last btn btn-default btn-lg">
            <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span>
        </button>

    </div>

</h1>

{% for post in page.posts %}
<div class="verse">
    <h2 style="font-size: 6vmax; color: #556B2F; margin-top: 0;">
        <a href="{{ post.url }}">{{ post.title }}</a>
    </h2>

    <div style="font-size: 4vmax; color: #373737" class="clearfix">
        {{ post.content }}
    </div>
    <p>Метки: {{ post | tags }}</p>
</div>

{% endfor %}

<script>
    function goToVerse(n) {
        var totalVerses = parseInt($('.verse').length);

        if (totalVerses > n) {
            $('.verse').css('display', 'none');
            $($('.verse')[n]).css('display', 'block');
            $('.v-num').html(n+1);
        }

        var currentVerse = parseInt($('.v-num').html())-1;

        if (currentVerse <= 0) {
            $('.v-prev').addClass('disabled');
            $('.v-first').addClass('disabled');
        } else {
            $('.v-prev').removeClass('disabled');
            $('.v-first').removeClass('disabled');
        }

        if (currentVerse >= totalVerses - 1) {
            $('.v-next').addClass('disabled');
            $('.v-last').addClass('disabled');
        } else {
            $('.v-next').removeClass('disabled');
            $('.v-last').removeClass('disabled');
        }
    }

    function play() {
        $('.v-play').toggleClass('active');
        if ($('.v-play').hasClass('active')) {
            $('.v-play span').removeClass('glyphicon-play');
            $('.v-play span').addClass('glyphicon-stop');
            looper.on = true;
            looper.loop();
        } else {
            looper.on = false;
            $('.v-play span').removeClass('glyphicon-stop');
            $('.v-play span').addClass('glyphicon-play');
        }
    }

    function Looper(t, d) {
        this.targetFunction = t;
        this.getDelay = d;
    }
    Looper.prototype.on = false;
    Looper.prototype.targetFunction = function () { /* override */ };
    Looper.prototype.getDelay = function  () { /* override */ };
    Looper.prototype.loop = function() {
        if(this.on) {
           setTimeout(this.targetFunction, this.getDelay());
        }
    };

    $(document).ready(function () {
        looper = new Looper(function() {
            if(!looper.on) {
                return;
            }

            if ( !$('.v-next').hasClass('disabled')) {
                $('.v-next').click();
            } else if ( !$('.v-first').hasClass('disabled')) {
                $('.v-first').click();
            } else {
                looper.on = false;
            }
            looper.loop();
        }, function() {
            return $('.delay-group > .btn.active > input').val();
        });


        $('.v-first').click(function () {
            goToVerse(0);
        });
        $('.v-prev').click(function () {
            var currentVerse = parseInt($('.v-num').html())-1;
            goToVerse(currentVerse - 1);
        });


        $('.v-last').click(function () {
            goToVerse($('.verse').length - 1);
        });
        $('.v-next').click(function () {
            var currentVerse = parseInt($('.v-num').html())-1;
            goToVerse(currentVerse + 1);
        });


        $('.v-play').click(function() {
           play();
        } );

        goToVerse(parseInt($('.v-num').html())-1);
    });
</script>










